// vars
$mainColor: rgb(51, 51, 51);
$secondaryColor: rgb(121, 122, 123);
$keyColor: rgb(13, 137, 165);
$white: rgb(249, 249, 249);
$whiteG: rgba(249, 249, 249, 0.1);
$black: rgb(25, 25, 25);
$blackG: rgba(25, 25, 25, 0.5);

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
$mainFont: "Quicksand", sans-serif;

body{
    background-image: url(../img/headers/cv--headercut-02.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.container-fluid{
    padding: 0px 20px;
}
@media (max-width: $breakpoint-lg) {
    body{
        background-size: 177%;
        background-position: center top;
        transition: 2s;
    }
    .header-intro{
        .menu{
            .collapse{
                background-color: $blackG;
                padding: 0px 20px 0px 20px;
            }
        }
    }
}
@media (max-width: $breakpoint-md){
    body{
        background-image: url(../img/headers/cv--headercut-03.png);
        background-size: 254%;
        background-position: right top;
        transition: 2s;
    }
}
@media (max-width: $breakpoint-sm){
    body{
        background-size: 331%;
        background-position: left top;
        transition: 2s;
    }
}
p,
span,
li,
a{
    font-family: $mainFont;
    text-decoration: none;
}

h1,
h2,
h3,
h4{
    font-family: $mainFont;
}

// btns
.btn-main{
    max-width: 300px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$black;
    border-radius: 3px;
    border: solid 1px $secondaryColor;
    margin: auto;
    text-decoration: none;
    &:hover{
        background-color: $keyColor;
        color: $white;
        border: solid 1px $keyColor;
    }
}

.btn-green{
    @extend .btn-main;
    background-color: $mainColor;
}
